.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    visibility: hidden;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: visibility .25s linear, opacity .25s linear;
    -o-transition: visibility .25s linear, opacity .25s linear;
    transition: visibility .25s linear, opacity .25s linear;
    opacity: 0;
}