.profile__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 336px;
    margin: 7px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 930px) {
    .profile__subtitle {
            font-size: 16px;
            line-height: 1.12;
            max-width: 290px;
        }
}
@media (max-width: 620px) {
    .profile__subtitle {
            font-size: 14px;
            text-align: center;
            margin: 9px 0 0 0;
        }
}