.profile {
    display: flex;
    max-width: 880px;
    margin: 0 auto 51px;
}
@media (max-width: 930px) {
    .profile {
            max-width: 581px;
        }
}
@media (max-width: 620px) {
    .profile {
            flex-flow: column;
            align-items: center;
            max-width: 282px;
            margin: 0 auto 36px;
        }
}