.popup__buttom-hide {
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: calc((100vw - 320px)/(1280 - 320) * (32 - 20) + 20px);
    max-width: 32px;
    height: calc((100vw - 320px)/(1280 - 320) * (32 - 20) + 20px);
    max-height: 32px;
    border: 0;
    cursor: pointer;
    align-self: flex-end;
    background-image: url(../../../images/popup/close-Icon.svg);
    background-size: cover;
    -webkit-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    transition: opacity .25s linear;
}

.popup__buttom-hide:hover {
    opacity: 0.5;
}