.buttom-hide__icon {
    align-self: flex-end;
    width: calc((100vw - 320px)/(1280 - 320) * (32 - 20) + 20px);
    max-width: 32px;
    height: calc((100vw - 320px)/(1280 - 320) * (32 - 20) + 20px);
    max-height: 32px;
    transition: filter 0.3s;
}