.form__input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 8px;
    padding-top: 7px;
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.form__input:focus {
    outline-color: rgba(0, 0, 0);
}
.form__input::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.2;
}
